body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #dfdfdf;
  font-family: 'Oswald', sans-serif;
}    
#app-title {
  margin-top: 1.8em;
  margin-bottom: 1.9em;
  width: 356.45px;
}
#marvel-text {
  display:inline-block;
  background-color:red;
  color:white;
  font-size:5em;
  font-family: 'Passion One', impact;
  line-height: 1;
  padding: 0 0.2em;
  letter-spacing: -0.06em;
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.3);
}
#api-text {
  display:inline-block;
  margin-left: 13px;
  font-size: 4em;
  font-weight: 600;
  color: gray;
  letter-spacing: -0.06em;
}
p.guide {
    font-size: 1.6em;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0.7em;
}
#content {
  width:776px;
  border: 1px solid #cac8c8;  
  padding: 30px 18px;
  background: white;
  display:flex;
  flex-flow: column wrap;
  -webkit-justify-content: center;
  justify-content: center;
}
#characters_list {
  margin-bottom:24px;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
#center-characters-list {
	width: 688px;
}
.character {
  box-sizing: border-box;
  width: 124px;
  height: 94px;
  border:2px solid black;
  box-shadow: 1px 3px 0 0 rgba(0,0,0,0.4);
  margin-right: 17px;
  margin-bottom:14px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  display:inline-block;
}
.character:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.character:nth-of-type(5n+5) {
  margin-right: 0;
}
.character:not(:nth-last-child(n+6)) {
  margin-bottom:0px;
}
.character.active {
  position: relative;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.character.active::before,
.character.active::after {
  content: '';
  margin: -5%;
  box-shadow: inset 0 0 1px 2px rgb(7, 7, 8);
  animation: clipMe 8s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.character.active::before {
  animation-delay: -4s;
}
#main {
  display: flex;
  flex-flow: column nowrap;
}
#character_prof {
  display: flex;
  justify-content: center;
  margin-bottom:24px;
  padding: 0;
  max-width: 776px;
}
#center-profile-content {
  display: flex;
  -webkit-justify-content: center; 
  justify-content: center;
}
#profile-content-container {
  width: 712px;
  flex-flow: row nowrap;
  display: flex;
}
#placeholder-container {
  margin-right: 20px;
}
#profile-img {
  width: 168px;
  height: 252px;
  margin-right: 20px;
  border: 2px solid black;
  box-shadow: 1px 3px 0 0 rgba(0,0,0,0.4);
  background-color: rgba(128, 128, 128, 0.5);
}
#profile h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 900;
  font-size:2em;
}
#profile p {
  font-size:1.2em;
  word-break: keep-all;
  word-wrap: break-word;
  white-space: pre-wrap;
}
#profile a {
  color: #f0141e;
}
#comics_list {
  max-width: 776px;
  display: flex;
  flex-flow: row wrap; 
  -webkit-justify-content: center;
  justify-content: center;
}
#center-comics-list {
  display: flex;
  flex-flow: row wrap;
  width: 712px;
}
.comic {
  margin-right: 13px;
  margin-bottom: 10px;
  max-width:168px;
  word-wrap: break-word;
}
.comic:nth-of-type(4n+4) {
  margin-right: 0;
}
.comic img {
  width: 168px;
  height: 252px;
  background-color: rgba(128, 128, 128, 0.5);
  border:1px solid black;
}
.comic span {
  font-size:1.1em;
  font-weight:bold;
}
.error {
  text-align: center;
}

@-webkit-keyframes clipMe {
  0%, 100% {
    clip: rect(0px, 136.4px, 2px, 0px);
  }
  25% {
    clip: rect(0px, 2px, 103.4px, 0px);
  }
  50% {
    clip: rect(100px, 136.4px, 103.4px, 0px);
  }
  75% {
    clip: rect(0px, 136.4px, 103.4px, 130px);
  }
}
@-moz-keyframes clipMe {
  0%, 100% {
    clip: rect(0px, 136.4px, 2px, 0px);
  }
  25% {
    clip: rect(0px, 2px, 103.4px, 0px);
  }
  50% {
    clip: rect(100px, 136.4px, 103.4px, 0px);
  }
  75% {
    clip: rect(0px, 136.4px, 103.4px, 130px);
  }
}
@-o-keyframes clipMe {
  0%, 100% {
    clip: rect(0px, 136.4px, 2px, 0px);
  }
  25% {
    clip: rect(0px, 2px, 103.4px, 0px);
  }
  50% {
    clip: rect(100px, 136.4px, 103.4px, 0px);
  }
  75% {
    clip: rect(0px, 136.4px, 103.4px, 130px);
  }
}
@keyframes clipMe {
  0%, 100% {
    clip: rect(0px, 136.4px, 2px, 0px);
  }
  25% {
    clip: rect(0px, 2px, 103.4px, 0px);
  }
  50% {
    clip: rect(100px, 136.4px, 103.4px, 0px);
  }
  75% {
    clip: rect(0px, 136.4px, 103.4px, 130px);
  }
}