img {
  opacity: 0;
  transition: opacity 0.6s ease;
}
img.loaded {
  opacity: 1;
}
p.guide {
    font-size: 1.6em;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0.7em;
}
#content {
  width:776px;
  border: 1px solid #cac8c8;  
  padding: 30px 18px;
  background: white;
  display:flex;
  flex-flow: column wrap;
  -webkit-justify-content: center;
  justify-content: center;
}
#characters_list {
  margin-bottom:24px;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
#center-characters-list {
	width: 688px;
}
.character {
  box-sizing: border-box;
  width: 124px;
  height: 94px;
  border:2px solid black;
  box-shadow: 1px 3px 0 0 rgba(0,0,0,0.4);
  margin-right: 17px;
  margin-bottom:14px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  display:inline-block;
}
.character:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.character:nth-of-type(5n+5) {
  margin-right: 0;
}
.character:not(:nth-last-child(n+6)) {
  margin-bottom:0px;
}
.character.active {
  position: relative;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.character.active::before,
.character.active::after {
  content: '';
  margin: -5%;
  box-shadow: inset 0 0 1px 2px rgb(7, 7, 8);
  animation: clipMe 8s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.character.active::before {
  animation-delay: -4s;
}
.character img {
  width: 120px;
  height: 90px;
  background-color: rgba(128, 128, 128, 0.5);
}
#main {
  display: flex;
  flex-flow: column nowrap;
}
#character_prof {
  display: flex;
  justify-content: center;
  margin-bottom:24px;
  padding: 0;
  max-width: 776px;
}
#center-profile-content {
  width: 712px;
  flex-flow: row nowrap;
  display: flex;
  -webkit-align-items: flex-start; 
  align-items: flex-start;
}
.profile-img-container {
    width: 168px;
    height: 252px;
    margin-right: 20px;
    border: 2px solid black;
    box-shadow: 1px 3px 0 0 rgba(0,0,0,0.4);
}
#character_prof img {
  background-color: rgba(128, 128, 128, 0.5);
}
#profile h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 900;
  font-size:2em;
}
#profile p {
  font-size:1.2em;
  word-break: keep-all;
  word-wrap: break-word;
  white-space: pre-wrap;
}
#profile a {
  color: #f0141e;
}
#comics_list {
  max-width: 776px;
  display: flex;
  flex-flow: row wrap; 
  -webkit-justify-content: center;
  justify-content: center;
}
#center-comics-list {
  display: flex;
  flex-flow: row wrap;
  width: 712px;
}
.comic {
  margin-right: 13px;
  margin-bottom: 10px;
  max-width:168px;
  word-wrap: break-word;
}
.comic:nth-of-type(4n+4) {
  margin-right: 0;
}
.comic img {
  width: 168px;
  height: 252px;
  background-color: rgba(128, 128, 128, 0.5);
  border:1px solid black;
}
.comic span {
  font-size:1.1em;
  font-weight:bold;
}
.error {
  text-align: center;
}

.spinner {
  position: fixed;
  z-index:999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.spinner:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.1);
}
.spinner:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.spinner:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}


/* Animation */
@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes clipMe {
  0%, 100% {
    clip: rect(0px, 136.4px, 2px, 0px);
  }
  25% {
    clip: rect(0px, 2px, 103.4px, 0px);
  }
  50% {
    clip: rect(100px, 136.4px, 103.4px, 0px);
  }
  75% {
    clip: rect(0px, 136.4px, 103.4px, 130px);
  }
}
@-moz-keyframes clipMe {
  0%, 100% {
    clip: rect(0px, 136.4px, 2px, 0px);
  }
  25% {
    clip: rect(0px, 2px, 103.4px, 0px);
  }
  50% {
    clip: rect(100px, 136.4px, 103.4px, 0px);
  }
  75% {
    clip: rect(0px, 136.4px, 103.4px, 130px);
  }
}
@-o-keyframes clipMe {
  0%, 100% {
    clip: rect(0px, 136.4px, 2px, 0px);
  }
  25% {
    clip: rect(0px, 2px, 103.4px, 0px);
  }
  50% {
    clip: rect(100px, 136.4px, 103.4px, 0px);
  }
  75% {
    clip: rect(0px, 136.4px, 103.4px, 130px);
  }
}
@keyframes clipMe {
  0%, 100% {
    clip: rect(0px, 136.4px, 2px, 0px);
  }
  25% {
    clip: rect(0px, 2px, 103.4px, 0px);
  }
  50% {
    clip: rect(100px, 136.4px, 103.4px, 0px);
  }
  75% {
    clip: rect(0px, 136.4px, 103.4px, 130px);
  }
}

/* Spinner Circle Rotation in GetComics*/
.sp {
  width: 32px;
  height: 32px;
  clear: both;
  margin: 20px auto;
}

.sp-circle {
  border: 4px rgba(0, 0, 0, 0.25) solid;
  border-top: 4px black solid;
  border-radius: 50%;
  -webkit-animation: spCircRot .6s infinite linear;
  animation: spCircRot .6s infinite linear;
}

@-webkit-keyframes spCircRot {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
@keyframes spCircRot {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}